﻿@model forum_lab6.Models.FolderViewModel

@{
    ViewBag.Title = "Create new folder";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h2>Create new folder</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNext" asp-route-id="@Model.FolderId">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" asp-for="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.FolderId">Cancel</a>
            </div>
        </form>
    </div>
</div>