﻿@model forum_lab6.Models.FolderViewModel

@{
    ViewBag.Title = "Edit folder";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h2>Edit Folder</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@ViewBag.Id">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-default" asp-action="Details" asp-route-id="@ViewBag.Id">Cancel</a>
            </div>
        </form>
    </div>
</div>
