﻿@model forum_lab6.Models.Post
@{
    ViewData["Title"] = "Create";
}

<h2>Create post</h2>

<div class="blog-post-editor">
    <form asp-action="Create">
        <div class="form-horizontal">
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <b>
                    <label asp-for="CategoryId" class="col-md-2 control-label">Category</label>
                </b>
                <div class="col-md-10">
                    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categorys"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <b>
                    <label asp-for="Title" class="col-md-2 control-label"></label>
                </b>
                <div class="col-md-10">
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <b>
                    <label asp-for="Text" class="col-md-2 control-label"></label>
                </b>
                <div class="col-md-10">
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-dark"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to posts</a>
</div>