﻿@model forum_lab6.Models.ForumCategory

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Forum Category</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <b>
                    <label asp-for="Name" class="control-label"></label>
                </b>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>