﻿@model IEnumerable<forum_lab6.Models.ForumCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New File_System</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.OrderBy(x => x.Name))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="ForumCategorys" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="ForumCategorys" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="ForumCategorys" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>