﻿@model forum_lab6.Models.FileViewModel

@{
    ViewBag.Title = "Upload file";
}

<h2>Upload file</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-route-id="@ViewBag.Id" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">File</label>
                <input asp-for="FilePath" type="file" class="form-control"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <a class="btn btn-default" asp-action="Details" asp-controller="Folders" asp-route-id="@ViewBag.Id">Cancel</a>
            </div>
        </form>
    </div>
</div>