﻿@model forum_lab6.Models.File

@{
    ViewBag.Title = @Model.Name;
}

<h2>
    @Model.Name <small>@Model.Extension</small> <br/>
    <small>@Model.Size bytes</small>
</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-default" asp-action="Download" asp-route-id="@Model.Id">Download</a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" asp-route-id="@Model.Id" asp-action="Edit">Edit</a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" asp-route-id="@Model.Id" asp-action="Delete">Delete</a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" asp-action="Details" asp-controller="Folders" asp-route-id="@ViewBag.Folder">Back</a>
    </div>
</div>